<section class="flex gap-8 justify-center items-center flex-col md:flex-row">
	<div
		class="[&>p]:mb-4 [&>p]:text-pretty [&>p>strong]:text-blue-400 [&>p>strong]:font-semibold order-2 md:order-1"
	>
		<p>
			Mi nombre es Brandon Toapanta, graduado en Desarrollo de software,
			comencé cuando tenía 14, cuando por primera vez vi un proyecto
			profesional. <strong
				>Me gusta los retos difíciles ya que me ayuda a mejor en esta
				fabulosa área.</strong
			>
		</p>
		<p>
			Por ese motivo empecé a enseñar programación, en mi colegio a
			compañeros que no podían captar bien la materia, y de igual forma lo
			realicé en la universidad. <strong
				>Por ese motivo casi siempre me escogían como líder de proyectos
				tanto en la secundaria como universidad.</strong
			>
		</p>
		<p>
			Normalmente se me facilita el desarrollo de software, pero me
			encanta conversar sobre las nuevas tecnologías. Ya sea para
			<strong
				>desarrollo Front-end como Back.end, pero <em
					>si me preguntaras cuál de los me agrada más sería el
					Back-end</em
				>
			</strong>, como pudiste intuir me agrada mucho escribir código desde
			cero.
		</p>
	</div>
	<img
		src="/brandontoapanta.webp"
		alt="Foto de Brandon Toapanta"
		class="size-52 rounded-3xl order-1
		object-cover p-1 md:order-2
		 -rotate-3 md:rotate-3 lg:p-2 lg:w-64 aspect-square bg-gray-300/45 ring-1
		ring-white/20"
	/>
</section>
