<footer class="m-4">
	<div class="w-full max-w-screen-xl mx-auto p-4 md:py-8 text-center">
		<span
			class="block text-sm text-blue-200 sm:text-center dark:text-gray-400"
			>© {new Date().getFullYear()}
			<a href="https://flowbite.com/" class="hover:underline"
				>Brandon Toapanta</a
			>. Casi todos los derechos reservados.</span
		>
	</div>
</footer>
