<header class="flex justify-between items-center py-3 w-[1120px] mx-auto pt-4">
    <img
        src="https://cdn.leonardo.ai/users/0f90cc9e-e9b4-49c3-9ae5-9f80f24987cb/generations/1c244a46-2cf1-4044-864c-674114150eba/Default_crea_una_foto_de_perfil_donde_debe_de_mostrar_una_chic_1.jpg"
        alt="Brandon foto"
        class="rounded-full size-12"
    />
    <nav class="flex flex-row gap-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>
