---
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkdInIcon from "../icons/LinkedIn.astro";
import GithubIcon from "../icons/Github.astro";
import GmailIcon from "../icons/Gmail.astro";
---

<div class="flex gap-4 mb-4">
	<img
		src="/logo1.webp"
		alt="logo"
		class="rounded-2xl shadow-lg w-36 h-26 drop-shadow-lg shadow-violet-500/50"
	/>
	<a
		href="https://www.linkedin.com/in/brandon-toapanta-8a87b4199/"
		target="_blank"
		rel="noopener"
		class="flex items-center transition md:justify-center md:hover:scale-105"
	>
		<Badge>Disponible para tranajer</Badge>
	</a>
</div>
<h1 class="text-3xl pt-2 lg:text-5xl font-bold flex flex-row gap-x-5 pb-10">
	¡Hola, soy Brandon!
</h1>
<h2 class="text-2xl text-pretty">
	<span class="font-bold text-blue-300">+1 años de experiencia.</span>
	<span class="text-orange-200/90"
		>Desarrollador web y tecnólogo de Desarrollo de Software.</span
	>
	<span class="text-indigo-200/90"> De Quito - Ecuador.</span>
	<span class="opacity-80"
		>Mi comienzo de aprendizaje fue a los 14 años, tengo varias ideas
		innovadoras y modernas.</span
	>
</h2>

<nav class="flex flex-wrap gap-4 mt-8">
	<SocialPill href="https://www.linkedin.com/in/brandon-toapanta-8a87b4199/">
		<LinkdInIcon class="size-6" />LinkdIn
	</SocialPill>
	<SocialPill href="https://github.com/BrandonToapanta">
		<GithubIcon class="size-6" />Github
	</SocialPill>
	<SocialPill href="mailto:brandontoapanta12345@gmail.com">
		<GmailIcon class="size-6" />brandontoapanta12345@gmail.com
	</SocialPill>
</nav>
